# --- General / OS ---
.DS_Store
.idea/
.vscode/
.zed/
*.log

# --- Docker & Environment ---
.env
.env.local
.env.*.local
node_modules/

# --- Global Service Patterns (Go & Node) ---
# This matches any node_modules or build folders inside any subdirectory of /app
**/node_modules/
**/.next/
**/out/
**/build/
**/dist/

# --- Go Specific Globs ---
# Matches the 'tmp' folder created by Air and compiled binaries in any app subfolder
**/tmp/
**/main
**/build-errors.log
metric_debug.json
trace_debug.json

# --- Database Files ---
*.sqlite
*.sqlite3
*.db
*.db3
*.sqlite-journal
*.sqlite3-journal
*.db-journal
*.db-shm
*.db-wal
*.sqbpro
