APP_PRIMARY.ENV="dev"

APP_SERVER.PORT="8000"
APP_SERVER.READ_TIMEOUT="30"
APP_SERVER.WRITE_TIMEOUT="30"
APP_SERVER.IDLE_TIMEOUT="60"
APP_SERVER.CORS_ALLOWED_ORIGINS="http://localhost:3000"

APP_LOGGING.FORMAT="console"

# Observability
APP_OBSERVABILITY.APP_NAME="hostel_marketplace_app"
APP_OBSERVABILITY.ENVIRONMENT="development"
APP_OBSERVABILITY.ENDPOINT=<your-new-relic-endpoint>
APP_OBSERVABILITY.LOGGING_ENDPOINT=<your-new-relic-logging-endpoint>
OTEL_EXPORTER_OTLP_ENDPOINT=<your-otlp-endpoint>
OTEL_EXPORTER_OTLP_HEADERS="api-key=<your-api-key-here>"

# Auth
APP_AUTH.JWT_SECRET=<your-jwt-secret-here>

# R2
APP_R2.ACCESS_KEY_ID=<your-r2-access-key-id>
APP_R2.SECRET_ACCESS_KEY=<your-r2-secret-access-key>
APP_R2.SECRET_KEY=<your-r2-secret-key>
APP_R2.ENDPOINT=<your-r2-endpoint>
APP_R2.BUCKET=<your-r2-bucket-name>

APP_DB.NAME=<db-name>
APP_DB.URI="postgres://username:password@localhost:5432/hostel-marketplace-app?sslmode=disable"
