@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #2c2f2f;
  --primary: #00693e;
  --secondary: #a63300;
  --tertiary: #ffd709;
  --neutral: #f5f7f6;
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-neutral: var(--neutral);
  --font-sans: var(--font-dm-sans);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.container {
  @apply mx-auto max-w-7xl px-4 py-8 lg:py-24;
}
